@font-face {
    font-family: 'safe_hamletregular';
    src: url('safe-hamlet-webfont.woff2') format('woff2'),
         url('safe-hamlet-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'safe_hamletregular';
    font-size: 24px;
    background-image: url("./Background.png");
}

#page {
    display: flex;
    justify-content: center;
    align-items: center;
}

#layout {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template: 528px 1fr / 1fr 48px 816px 48px 1fr;
    border: none;
    width: 100vw;
    height: 100vh;
    /* z-index: 100; */
}

#map-area {
    /* display: flex;
    justify-content: center; */
    position: relative;
    top: -48px;
    left: -48px;
    z-index: 0;
}

.sides {
    z-index: 100;
    background-image: url("./Background.png");
    border: none;
    position: relative;
}

.left-border {
    background-image: url("./LeftBorder.png");
}

.right-border {
    background-image: url("./RightBorder.png");
}

#info {
    z-index: 100;
    background: #FCE0A8;
    border: none;
    display: grid;
    grid-template: 1fr / 1fr 2fr;
    position: relative;
}

button {
    background-color: #BCBCBC;
    border-width: 3px;
    border-color: black;
    margin:3px;
}
